@import "../../../../../assets/scss/libs/variables";
@import "../../../../../assets/scss/libs/mixins";

.title {
  max-width: 600px;
}

.header {
  @include flex();
}

.link {
  @include flex(flex-end, center);
  @include text(20px, 20px, 700, $green);
  gap: 12px;
  transition: 0.2s ease;
  
  svg {
    height: 20px;
  }

  &:hover {
    color: rgba($green, 0.75);
  }
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.course {
  width: 100%;
  position: relative;
  border: 1px solid $border;
  border-radius: 18px;

  &-img {
    height: 220px;
    border: 1px solid $border;
    border-radius: 18px;
    overflow: hidden;

    img {
      border-radius: 18px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    padding: 16px 24px;
  }

  &-title {
    max-width: 300px;
    @include text(22px, 26px, 700, $black);
    margin-bottom: 16px;
  }

  &-info {
    &-list {
      @include flex();
      padding-bottom: 24px;
      border-bottom: 1px solid $border;
    }

    &-item {
      @include flex(flex-start, center);
      gap: 8px;

      svg {
        width: 24px;
        color: $green;
      }

      p {
        @include text(12px, 14px, 500, $light-gray)
      }
    }
  }

  &-footer {
    @include flex();
    padding-top: 16px;
  }

  &-price {
    @include text(20px, 20px, 700, $green);
    @include flex(flex-start, center);
    gap: 4px;
    
    svg {
      margin-top: -2px;
      color: $green;
      height: 16px;
    }
  }

  &-heart {
    cursor: pointer;
    width: 24px;
    color: $light-gray;
  }

  &-rating {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 60px;
    height: 24px;
    border-radius: 48px;
    background: $gray;
    @include flex(center, center);
    gap: 4px;

    @include text(14px, 14px, 700, $white);

    svg {
      color: $yellow;
      width: 16px;
    }
  }
}