@import "../../../../../assets/scss/libs/variables";
@import "../../../../../assets/scss/libs/mixins";

.title {
  max-width: 600px;
}

.header {
  @include flex();
}

.link {
  @include flex(flex-end, center);
  @include text(20px, 20px, 700, $green);
  gap: 12px;
  transition: 0.2s ease;
  
  svg {
    height: 20px;
  }

  &:hover {
    color: rgba($green, 0.75);
  }
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}
