@import "../../assets/scss/libs/variables";
@import "../../assets/scss/libs/mixins";

.title {
  @include text(14px, 18px, 700, $black);
  margin-bottom: 8px;
}

.block {
  position: relative;
}

.textarea {
  height: 100px;
  resize: none;
}

.input {
  width: 100%;
  padding: 18px 0 18px 52px;
  border: 1px solid $border;
  border-radius: 16px;
  outline: none;

  &::placeholder {
    @include text(14px, 18px, 300, $border);
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 59px;
  @include flex(center, center);

  svg {
    height: 24px;
    color: $border;
  }
}