@import "./libs/reset";
@import "./libs/mixins";
@import "./libs/variables";

body {
    font-family: "Nunito", sans-serif;
}

.container {
    width: 1200px;
    margin: 86px auto 0;
}

section {
    padding-top: 100px;
}

.section {
    &-title {
        @include text(40px, 44px, 800, $black);
        margin-bottom: 20px;

        span {
            color: $green;
        }
    }

    &-text {
        @include text(18px, 28px, 400, $gray);
    }
}

.app {
    @include flex();
}

.content {
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba($bg-green, 0.6);
    padding: 48px 56px;
}