@import "./libs/reset";
@import "./libs/mixins";
@import "./libs/variables";

body {
    font-family: "Nunito", sans-serif;
}

.container {
    width: 1200px;
    margin: 86px auto 0;
}

section {
    padding-top: 100px;
}

.section {
    &-title {
        @include text(40px, 44px, 800, $black);
        margin-bottom: 20px;
    }

    &-text {
        @include text(18px, 28px, 400, $gray);
    }
}



