@import "../../assets/scss/libs/variables";
@import "../../assets/scss/libs/mixins";

.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 10px;
  background: $green;
  border: 1px solid $green;
  @include text(16px, 16px, 500, $white);
  transition: 0.2s ease;

  &:hover {
    background: $white;
    color: $green;
  }
}