@import "../../../assets/scss/libs/variables";
@import "../../../assets/scss/libs/mixins";

.container {
  padding: 100px 0;
}

.wrapper {
  @include flex(flex-start, flex-start);
  gap: 45px;
}

.image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  border-radius: 36px;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background: rgba($bg-green, .85);
}

.part {
  &:first-child {
    width: calc(200%/3);
  }
  &:last-child {
    width: calc(100%/3);
  }
}

.block {
  overflow: hidden;
  position: relative;
  background: $bg-green;
  padding: 24px 36px;
  border-radius: 36px;
  
  * {
    z-index: 3;
  }

  a {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 4;
  }
}

.text {
  position: relative;
  @include text(20px, 28px, 700, $black);
}

.title {
  @include text(22px, 28px, 600, $green);
  margin: 24px 0 16px;
}

.price {
  position: relative;
  z-index: 5;
  margin: 8px 0 16px;
  font-family: 'Nunito Sans', sans-serif;
  @include text(32px, 40px, 900, $black);
}

.info {
  @include flex(flex-start, center);
  gap: 8px;
  margin-bottom: 12px;

  h6 {
    font-family: 'Nunito Sans', sans-serif;
    @include text(28px, 36px, 900, $green);
  }
}