@import "../../../assets/scss/libs/variables";
@import "../../../assets/scss/libs/mixins";

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.item {
  padding: 20px 36px;
  border: 1px solid $border;
  background: $white;
}

.number {
  @include text(24px,24px, 800, $black);
  @include flex(flex-start, center);
  gap: 4px;
  padding-bottom: 16px;
  border-bottom: 1px solid $border;
  margin-bottom: 16px;

  svg {
    font-size: 20px;
  }
}

.block {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include flex(flex-start, flex-start);
  gap: 16px;

  svg {
    font-size: 18px;
    color: $black;
  }

  p {
    @include text(16px, 22px, 400, $black);
  }
}